.idea/
.vscode/
/coverage/
/vendor/
/logs/*
!/logs/README.md
.phpunit.result.cache

/composer.lock

/public/assets/img/*

.env

/docker/nginx/ssl/*.crt
/docker/nginx/ssl/*.csr
/docker/nginx/ssl/*.key
/docker/nginx/ssl/*.pem
