canvas {
  margin: 0 auto;
}

table tbody tr {
  cursor: pointer;
}

hr {
  color: #ccc;
}

div#charts {
  display: flex;
  flex-wrap: wrap;
}

div#charts > div {
  padding: 1rem;
  width: 50%;
}

button#downloadBtn
 {
  display: none;
}

div#social {
  padding: 1rem;
  box-shadow: 0px 2px 36px rgba(0, 0, 0, 0.2);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  text-align: center;
  background-color: #feff9c;
}

@media (max-width: 1200px) {
  div#charts > div {
    width: 50%;
  }
}

@media (max-width: 992px) {
  div#charts > div {
    width: 100%;
  }
}
